@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #222636;
  color: white;
  font-family: 'Inter', sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
}

html{
  scroll-behavior: smooth;
}

/* Estilizando a barra de rolagem */
::-webkit-scrollbar {
  width: 12px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
  background: #f2c94c; /* Cor do trilho da barra de rolagem */
}

::-webkit-scrollbar-thumb {
  background: white; /* Cor da barra de rolagem */
  border-radius: 6px; /* Bordas arredondadas */
}

::-webkit-scrollbar-thumb:hover {
  background: #f1f1f1; /* Cor da barra de rolagem ao passar o mouse */
}